<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.exsell">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/exsell_logo_bumble_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/exsell_logo_bumble_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exsell">
        <activity
            android:name=".UI.MapActivity"
            android:exported="false"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".UI.NewListing"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UI.UserProfile"
            android:exported="false"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".UI.ViewListing"
            android:exported="false" />
        <activity
            android:name=".UI.WishlistActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UI.Categories"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UI.ItemListing"
            android:exported="true"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".UI.Home"
            android:exported="true"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".UI.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UI.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".UI.MyListings"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SearchBar" />
        <activity
            android:name=".UI.MessagePreviews"
            android:exported="false" />
        <activity
            android:name=".UI.PrivateMessage"
            android:exported="false" />

        <service
            android:name=".services.FirebaseNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>